@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #2B2B2E;
  height: 100%;
  width: 100%;
  /* background: #ffffff; */
}

html {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}
